html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#_blr-feedback-tab {display: none}
#map { height: 100% }
/* Bootstrap */
.navbar {
    margin-bottom: 0;
}

textarea {
    resize: vertical;
    max-height: 100px;

}

/* override the bootstrap input align (for leaflet layer control */
label input {
    vertical-align: inherit;
}

/* override the bootstrap form margins within popups */
.leaflet-popup-content p {
	margin: 0;
}

/* Leaflet-Draw */
#draw-control-box {
    display: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    background: #555;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
}

#draw-control-box.show{
    display: block;
}

/* override bootstrap glyphicon margin when in button */
button [class^="icon-"],
button [class*=" icon-"],
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
    margin-top: 3px;
}

.btn-group .btn i {
	margin-top: 3px;
}

/* config modal */
#configModal {
    width: 75%;
    margin-left: -38%;
}

#configModal .modal-body {
    max-height: 600px;
}